/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form SearchTxts since otherwise they're 100% wide */
SearchTxt,
select,
textarea {
    /* max-width: 280px;*/
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*egendefinert cssklasse vi bruker for å style div element på MineFag og mine vurderinger*/
.divKnappBorder {
    border-style: groove;
    border-radius: 5px;
    background-color: beige;
}

/*egendefinert cssklasse vi bruker på mine vurderinger*/
.divBorder {
    border-style: groove;
    border-radius: 5px;
    background-color: lightgrey;
}
/*Fjerner js melding som har ekstra hjelpetekst for autocomplete*/

.ui-helper-hidden-accessible {
    display: none;
}
/*Border radius må være der!. Eller blir søkefeltet merkelig pga navbar. Padding gjør at navbar ikke overlappet med resultater*/
.ui-menu {
    position: relative;
    list-style: none;
    background-color: white;
    border-radius: 18px;
    width: 214px;
    font-size: 18px;
    padding: 15px 0;
    border: solid 1px grey;
}

    .ui-menu .ui-menu-item {
        padding-left: 15px;
        padding-right: 10px;
    }

        .ui-menu .ui-menu-item:hover {
            background-color: darkgrey;
        }
